/*
### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)
*/

@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");

/*Getting the photo and ad parts to be side by side*/
@media (min-width: 640px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .photo img {
    border-radius: 0.625rem 0 0 0.625rem;
    height: 100%;
  }

  .ad {
    border-radius: 0 0.625rem 0.625rem 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Getting rid of the bullet points on the listed items*/
ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 1.5rem;
}

/*So that the img and words are pushed up on each other*/
img {
  max-width: 100%;
}

button,
li {
  font-family: inherit;
}

body {
  display: flex;
  flex-direction: column;
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 0.1px);
  margin: 0 1.5rem;
}

.container {
  max-width: 600px;
}

h1 {
  color: hsl(212, 21%, 14%);
  margin-bottom: 1rem;
  font-size: 2rem;
}

h1,
.sale {
  font-family: "Fraunces", sans-serif;
}

h2 {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}

p {
  color: hsl(228, 12%, 48%);
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

.sale {
  color: hsl(158, 36%, 37%);
  font-size: 2rem;
  margin-right: 1.5rem;
}

.strike {
  color: hsl(228, 12%, 48%);
}

.ad {
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem;
}

.btn {
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 2rem;
  width: 100%;
  border: none;
  border-radius: 0.625rem;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*This adds a little space between the icon and the text in the button*/
.btn img {
  margin-right: 0.5rem;
}

/*The color gets darker when the cursor hovers over the button*/
.btn:hover {
  background-color: hsl(157, 33%, 23%);
}

.attribution {
  font-size: 14px;
  text-align: center;
  margin-top: 2rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
